<div class="post-header">
  <div class="left-header">
   <% if user_signed_in? %>
    <div class="header-button">
    <%= link_to "#{current_user.name}のルーム", post_messages_path(current_user.id) %>
    </div>
   <%end%>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">カレンダー</a>
    </div>
  </div>
</div>

<div class="post-index">
    <%= render partial: 'message', collection: @messages %>
</div>


<%= form_with model: [@post, @message], class: 'form', local: true do |f| %>
  <div class="form-inpu">
  <%= f.text_field :content, class: 'form-messag', placeholder: 'メッセージを入力する' %>
  </div>
  <%= f.submit '送信', class: 'form-submi' %>
 <% end %>
</div>